@inherits RocketForms.Components.RocketFormsTokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI.Components;
@using Simplisity;
@using RazorEngine.Text;
@using RocketPortal.Components;
@using RocketForms.Components;
@AssigDataModel(Model)
<!--inject-->

@{
    var rtnUrl = userParams.Get("viewurl");
}

<div id="a-articledata" class=" w3-padding">

    <div class=" w3-margin-bottom w3-border-bottom">
        <div class="w3-bar w3-padding">
            <a href="@rtnUrl" class="w3-padding w3-button w3-black " style="text-decoration:none;" onclick="$('.simplisity_loader').show();">
                <span class="w3-hide-small">
                    @ButtonText(ButtonTypes.back)
                </span>
                <span class="w3-hide-medium w3-hide-large">
                    @ButtonIcon(ButtonTypes.back)
                </span>
            </a>
        </div>
    </div>
    <div class="w3-tiny">
        @ResourceKey("RocketForms.delete90")
    </div>
    @if (appTheme.GetTemplate("AdminList.cshtml") == "")
    {
        <div>
            @RenderTemplate("AdminList.cshtml", appThemeSystem, Model, true)
        </div>
    }
    else
    {
        <div>
            @RenderTemplate("AdminList.cshtml", appTheme, Model, true)
        </div>
    }



</div>

<div class="w3-row w3-tiny w3-padding">
    <span>ModuleId: @moduleData.ModuleId</span>
    <span>TabId: @moduleData.TabId</span>
</div>

<script>
    $(document).ready(function () {
        $(document).simplisityStartUp('/Desktopmodules/dnnrocket/api/rocket/action', { systemkey: 'rocketforms', debug: false });

        $('.simplisity_loader').hide();

    });
</script>
