@inherits RocketForms.Components.RocketFormsTokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI;
@using Simplisity;
@using RocketForms.Components;
@using DNNrocketAPI.Components;
@using RocketPortal.Components;
@using System.Xml;
@using System.Globalization;
@AssigDataModel(Model)
<!--inject-->
@{
    var sRec = (SimplisityRecord)Model.GetDataObject("formdata");
    string[] donotshow = { "genxml", "basesystemkey", "admintabid", "createddate", "fileuploadlist", "fileuploadbase64", "activevalue", "simplisity_language", "simplisity_editlanguage", "simplisity_return", "browsersessionid", "browserid", "systemkey", "moduleid", "emailsubjectprefix" };
    var emaillanguage = moduleData.GetSetting("emaillanguage");
    if (emaillanguage == "") 
    {
        emaillanguage = "en-US";
    }
}

<style>
body {
    margin: 0;
    padding: 40px;
    color: #222;
    font-size: 16px;
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    line-height: 24px;
}
h2 {
    font-size: 24px;
    color: #222;
    line-height: 30px;
}
</style>

<h2>@moduleData.GetSetting("subject")</h2>

@{
    var datalist = sRec.XMLDoc.SelectNodes("genxml/*");
    if (datalist != null)
    {
        foreach (XmlNode data in datalist)
        {
            if (!donotshow.Contains(data.Name))
            {
                DateTime dateValue;
                if (data.Name.ToLower().Contains("date") && DateTime.TryParse(data.InnerText, out dateValue))
                {
                    string formattedDate = dateValue.ToString("D", new CultureInfo(emaillanguage));
                    <strong>@HtmlOf(ResourceKey(appTheme, data.Name, emaillanguage)) : </strong>@(formattedDate)<br />
                }
                else
                {
                    <strong>@HtmlOf(ResourceKey(appTheme, data.Name, emaillanguage)) : </strong>@HtmlOf(data.InnerText)<br />
                }
            }
        }
    }
}