@inherits RocketForms.Components.RocketFormsTokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI.Components;
@using RocketContentAPI.Components;
@using Simplisity;
@using RazorEngine.Text;
@using Rocket.AppThemes.Components;
@using RocketPortal.Components;
@using RocketForms.Components;

@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocketModules/RocketContentAPI/App_LocalResources/")

@{
        var sessionParams = Model.SessionParamsData;
    var moduleData = (ModuleFormsLimpet)Model.GetDataObject("modulesettings");
    var portalData = (PortalLimpet)Model.GetDataObject("portaldata");
    var appTheme = (AppThemeLimpet)Model.GetDataObject("apptheme");
    var appThemeList = (AppThemeDataList)Model.GetDataObject("appthemedatalist");
    var info = new SimplisityInfo(moduleData.Record);
    var projectAppThemeData = new AppThemeProjectLimpet();
    var cmd = "rocketforms_selectapptheme" + Model.GetSetting("cmdappendix");
}

<div id="a-datasection" class="w3-container w3-margin w3-padding">
    <div class="w3-large w3-margin-bottom">
        @ResourceKey("RCT.selectapptheme") 
    </div>
    @foreach (var appTheme2 in appThemeList.List)
    {
        <div class="w3-padding w3-third">
            <div class="w3-button w3-theme w3-round w3-block w3-large simplisity_click" s-cmd="@cmd" s-fields='{"moduleref":"@moduleData.ModuleRef","moduleid":"@moduleData.ModuleId","appthemefolder":"@appTheme2.AppThemeFolder"}'>
                @appTheme2.Name
            </div>
        </div>
    }
</div>


<script>
    $(document).ready(function () {
        $(document).simplisityStartUp('/Desktopmodules/dnnrocket/api/rocket/action', { systemkey: 'rocketforms', debug: false });
        $('.simplisity_loader').hide();
    });
</script>


