@inherits RocketForms.Components.RocketFormsTokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI.Components;
@using RocketContentAPI.Components;
@using Simplisity;
@using RazorEngine.Text;
@using Rocket.AppThemes.Components;
@using RocketPortal.Components;
@using System.Web;
@using RocketForms.Components;

@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocketModules/RocketContentAPI/App_LocalResources/")

@{
    var moduleData = (ModuleFormsLimpet)Model.GetDataObject("modulesettings");
    var userParams = new UserParams("ModuleID:" + moduleData.ModuleId, true);
}

<style>
    .w3-hide { display: none !important }
    .viewedit-button { border-radius: 4px; border: 1px solid #ccc; color: #000; background-color: #fff; display: inline-block; padding: 8px 16px; vertical-align: middle; overflow: hidden; text-decoration: none; color: inherit; text-align: center; cursor: pointer; white-space: nowrap }
</style>

<div id="a-editbuttons-@(moduleData.ModuleId)" class=" " style="display: none; position: absolute; top: 0px; left:0px; z-index: 9999;">
    <div style="padding: 0.01em 16px;">

        @if (!moduleData.IsSatellite)
        {
            <a href="@userParams.Get("editurl")" class="viewedit-button" title="@ResourceKey("DNNrocket.edit")">
                <img src="/DesktopModules/DNNrocket/API/images/edit_app.svg" alt="@ResourceKey("DNNrocket.edit")" />
            </a>
        }

        <a href="?action=clearcache" class="viewedit-button" title="@ResourceKey("RCT.clearcache")">
            <img src="/DesktopModules/DNNrocket/API/images/clear_cache.svg" alt="@ResourceKey("RCT.clearcache")" />
        </a>

        @if (UserUtils.IsAdministrator())
        {
            <a href="@userParams.Get("settingsurl")" class="viewedit-button" title="@ResourceKey("DNNrocket.settings")">
                <img src="/DesktopModules/DNNrocket/API/images/action_settings.svg" alt="@ResourceKey("DNNrocket.settings")" />
            </a>

            if (UserUtils.IsSuperUser())
            {
                <a href="@userParams.Get("appthemeurl")" class="viewedit-button " title="@ResourceKey("RCT.editapptheme")">
                    <img src="/DesktopModules/DNNrocket/API/images/movie_edit.svg" alt="@ResourceKey("RCT.editapptheme")" />
                </a>
            }

        }

        <span onclick="$('#a-editbuttons-@(moduleData.ModuleId)').hide();$('#a-editbuttons-@(moduleData.ModuleId)').addClass('w3-hide');" class="viewedit-button">
            <img src="/DesktopModules/DNNrocket/API/images/close.svg" alt="close" />
        </span>

    </div>
</div>

<script>
    $(".DnnModule-@(moduleData.ModuleId)").hover(function () {
        $("#a-editbuttons-@(moduleData.ModuleId)").show();
    }, function () {
        $("#a-editbuttons-@(moduleData.ModuleId)").hide();
    });
</script>
